/* src/App.css */

.App {
  text-align: center;
}

.container {
  display: flex;
}

.sidebar {
  flex: 1;
}

.main-content {
  flex: 2;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.book-item {
  border: 1px solid #ccc;
  padding: 10px;
}

.book-detail {
  text-align: left;
}

.book-detail img {
  max-width: 200px;
  margin-bottom: 10px;
}
